body {
  background: url(../img/fondo2.jpg) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-attachment: fixed !important;  
}

.contenedor-color {
  height: 18%;
  width: 100%;
  background: rgba(40, 38, 89, 0.90);
  position: fixed;
  z-index: -1;
}

.texto-alternativo {
  margin-top: 15px !important;
}

.logo {
  margin-top: 20px;
  border-radius: 5px;
}

.menu-botones {
  margin-top: 10px;
}

.menu-botones .btn {
  background: #0d8a2e;
}

.menu-botones .btn:hover {
  background: #4faa33;
}

.social-media a img {
  width: 80%;
  padding-bottom: 15px;
}

.galeria-imagenes {
  background: rgba(255, 255, 255, 0.7) !important;
  border-radius: 5px;
}

.img-entrada{
  width:30%; 
  max-height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}

.text-justify{
  text-align: justify;
}
@media (max-width: 900px) {
  .contenedor-color {
    height: 15%;
  }
  .img-entrada{
    width:100%;
  }
}