body {
  background: url(../img/fondo2.jpg) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-attachment: fixed !important;
}

.contenedor-color {
  height: 18vh;
  width: 100%;
  background: rgba(40, 38, 89, 0.90);
  position: fixed;
  z-index: -1;
}
.texto-alternativo{
  padding-top: 20px;
}

.logo {
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;
  
}
.menu-botones{
  margin-top: 10px;
  padding-right: 15px;
}

.menu-botones .btn{
  background: #0d8a2e;
}
.menu-botones .btn:hover{
  background: #4faa33;
}