body {
  background: url(../img/fondo2.jpg) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-attachment: fixed !important;
  /* min-height: 1400px !important; */
  
}
.contenedor-color {
  height: 18vh;
  width: 100%;
  background: rgba(40, 38, 89, 0.80);
  position: fixed;
  z-index: -1;
}
.cabecera{
  
}